.root {
    -fx-background-image: url("/vista/recursos/Principal.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.sobre {
    -fx-background-image: url("/vista/recursos/Sobre.jpg");
    -fx-background-size: 800;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}

.vbox-container {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 10;
    -fx-padding: 20;
    -fx-border-color: #3498db;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.label-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-min-width: 150px;
    -fx-min-height: 40px;
}

.button:hover {
    -fx-background-color: #2980b9;
    -fx-cursor: hand;
}